<%= with_template("philosophers_table") do |template| %>
  <% template.before :person do |index| %>
    <div class="chair <%= "person#{index}" %>">
      <%= image_tag "chair.png", width: "300px" %>
    </div>
  <% end %>
  <% template.skip :person %>
<% end %>
